.tabBar {
  height: 0.8rem;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.35rem;

  > a {
    color: #666;
  }
  .active {
    color: #fff;
  }
}
