html,
body {
  // position: relative;
  height: 100%;
}

body {
  // background: #162a5e;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
}

#root,
#router,
.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  .navBar{
    // height: 2rem;
    background-color: #999;
  }

  .content{
    display: flex;
    flex-direction: column;
    flex:1;
    overflow: scroll;
  }

  

}
